<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <a href="https://www.facebook.com/sibraxsoftware" class="fab fa-facebook"></a>
        <a href="https://www.instagram.com/sibraxsoftware/" class="fab fa-instagram"></a>
        <a href="https://twitter.com/sibrax" class="fab fa-twitter"></a>
        <a href="https://www.linkedin.com/company/sibrax-software/" class="fab fa-linkedin"></a>
        <a href="https://br.pinterest.com/sibraxsoftware/" class="fab fa-pinterest"></a>
    </div>
    <strong>Sibrax</a>.</strong> Todos os direitos reservados.
</footer>
