{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}Editar Escritorio{% endblock %}

{% block navbar_messages %} {% endblock %}
{% block navbar_notifications %} {% endblock %}
{% block navbar_tasks %} {% endblock %}
{% block navbar_user %} {% endblock %}
{% block page_title %} Escritorio {% endblock %}
{% block page_subtitle %} {% endblock %}

{% block sidebar_nav %}
{{ include('admin_navbar.html.twig') }}
{% endblock %}

{% block page_content %}

    
    <h1>Editar Escritorio</h1>

    {{ include('escritorio/_form.html.twig', {'button_label': 'Atualizar'}) }}
{% endblock %}
