{% extends 'base.html.twig' %}

{% block title %}Editar Escritorio{% endblock %}

{% block body %}

    {{ block ("navbar", "navbar.html.twig") }}
    <h1>Editar Escritorio</h1>

    {{ include('escritorio/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a class ="redirect_link btn" href="{{ path('app_escritorio_index') }}">Retornar a Lista</a>

    {{ include('escritorio/_delete_form.html.twig') }}
{% endblock %}
