{% extends 'base.html.twig' %}

{% block title %}New Escritorio{% endblock %}

{% block body %}
    <h1>Create new Escritorio</h1>

    {{ include('escritorio/_form.html.twig') }}

    <a href="{{ path('app_escritorio_index') }}">back to list</a>
{% endblock %}
