{% extends 'base.html.twig' %}

{% block title %}New Empresa{% endblock %}

{% block body %}

    {{ block ("navbar", "navbar.html.twig") }}
    <h1>Create new Empresa</h1>

    {{ include('empresa/_form.html.twig') }}

    <a class ="redirect_link btn" href="{{ path('app_empresa_index') }}">Retornar a Lista</a>
{% endblock %}
