{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block title %}Edit Aso{% endblock %}

{% block navbar_messages %} {% endblock %}
{% block navbar_notifications %} {% endblock %}
{% block navbar_tasks %} {% endblock %}
{% block navbar_user %} {% endblock %}
{% block page_title %} ASO {% endblock %}
{% block page_subtitle %} {% endblock %}

{% block sidebar_nav %}
{{ include('admin_navbar.html.twig') }}
{% endblock %}

{% block page_content %}
    <h1>Edit Aso</h1>

    {{ include('aso/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('aso/_delete_form.html.twig') }}
{% endblock %}
